<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html style="height : 100%;">
	<head>
		<title>Main page</title>
		<meta name="viewport" content="width=device-width,maximum-scale=2">
	</head>

	<body style="height : 100%;">
		<div id="header" class="header" style=" background-color: #191970;  margin : auto; font-size : 14pt; padding: 10px; text-align : center; font-family : Futura, Arial;">
			<table style="width : 100%;">
				<tr>
					<th><a id="Home" href="" style="color : white; text-decoration:none;">Home</a></th>
					<th><a id="SearchTutors" href="{% url 'Tutorial:index'%}" style="color : white; text-decoration:none;">Search Tutors</a></th>
					<th><a id="MyAccount" href="{% url 'Tutorial:myaccount' 5 %}" style="color : white; text-decoration:none;">My Account</a></th>
					<th><a id="Messages" href="{% url 'Tutorial:message' 5 %}" style="color : white; text-decoration:none;">Messages</a></th>
					<th><a id="Mode" href="" style="color : white; text-decoration:none;">Student Mode</a></th>
				</tr>
			</table>
		{% block content %}{% endblock %}
        </div>

	</body>
</html>