{% extends "Menu.html" %}
{% block title %}: search tutor{% endblock %}
{% block content %}
     <section class="bg-parallax parallax-window" onload="getValue();">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="parallax-text">
                <h2 class="parallax_t __white">Search For Tutor</h2>
                <h2 class="parallax_t __green">喵喵喵喵喵哼╭(╯^╰)╮</h2>
                <p>Please verify the searching tags</p>
                  <select class="form-control __plannerSelect" onchange="modeChange(this)" name="selectMode">
                      <option value="1" selected='selected'id="byTags">Search by tags</option>
                      <option value="2" id="byName">Search by tutor's name</option>
                  </select>
              </div>
            </div>
            <!-- planner-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 planner">
              <div class="planner-block" id="planner" value="testing">
                <form class="form-planner form-horizontal" id="SearchByTag" action="{% url 'search_tutor_tag' user.id %}" method="get">
                    {% csrf_token %}
                  <div class="row" >
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label>University</label>
                        <select class="form-control __plannerSelect">
                              <option value="">HKU</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label>University course</label>
                        <select class="form-control __plannerSelect">
                              <option value="">COMP 3297</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label id="tags">Subject Tags</label>
                          <input type="text" class="form-control" placeholder="Enter the key words to seach tags" id="subjectTags" name="tags" action="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label>Tutor Type</label>
                          <div class="theme-select">
                            <select class="form-control __plannerSelect">
                              <option value="">Private Tutor</option>
                              <option value="">Contracted Tutor</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="form-group">
                          <label>Showing Option </label>
                           <select class="form-control __plannerSelect">
                              <option value="">All tutors</option>
                              <option value="">Tutors with at least one available timeslot in the next 7 days.</option>
                            </select>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                          <label>Hourly Price Rate</label>
                          <div id="slider-range"></div>
                          <div id="amount"><span id="amount1"></span><span id="amount2"></span></div>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="planner-check-availability">
                        <input type="submit" name = 'query' class="btn btn-default">Check availability</input>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /planner-->
          </div>
        </div>
    </section>
    <!-- /parallax -->

    <!-- Best Tutor -->
    <section class="best-tutor">
      <div class="container">
        <div class="title-main">
          <h2 class="h2">Are you interested in them ?<span class="title-secondary">Look Our Best Tutors</span></h2>
        </div>

        <div class="best-tutor-carousel">
          <ul class="row best-tutor_ul">
              {%for Tutor in tutors%}
            <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-tutor_li">
              <div class="best-tutor_img">
                <a href="{% url 'Tutorial:tutorpage' user.id Tutor.id %}"><img src="/static/bootstrap/images/best-rooms/1.jpg" alt=""></a>
                <div class="best-tutor_overlay">
                  <div class="overlay_icn"><a href="{% url 'Tutorial:tutorpage' user.id Tutor.id %}"></a></div>
                </div>
              </div>
              <div class="best-tutor-info">
                  <div class="best-tutor_t"><a href="{% url 'Tutorial:tutorpage' user.id Tutor.id %}">{{ Tutor.myuser.user.username }}</a></div>
                <div class="best-tutor_t"><a href="{% url 'Tutorial:tutorpage' user.id Tutor.id %}">{{Tutor.myuser.user.first_name}} {{Tutor.myuser.user.last_name}}</a></div>
                <div class="best-tutor_desc">Tutor's description here.
                </div>
                <div class="best-tutor_rate">
                  <span>${{Tutor.hourly_rate}}</span>
                </div>
              </div>
            </li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <!-- /choose best tutors -->
    <!-- lux banner parallax -->
      <section class="banner bg-parallax2">
        <div class="overlay"></div>
      <div class="banner-parallax">
        <div class="container">
          <div class="text-center">
            <div class="banner-parallax_raiting">
              <a href="#"><span class="star __selected"></span></a>
              <a href="#"><span class="star __selected"></span></a>
              <a href="#"><span class="star __selected"></span></a>
              <a href="#"><span class="star"></span></a>
              <a href="#"><span class="star"></span></a>
            </div>
            <h2 class="banner-parallax_t">Double Luxury Room</h2>
            <div class="banner-parallax_price"><span>$560</span> / Night (Only This Week)</div>
            <a href="#" class="btn btn-default">Book this room</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /lux banner parallax -->
    <!-- enjoy our services -->
    <section class="section">
      <div class="container">
        <div class="title-main"><h2 class="h2">Our Services<span class="title-secondary">Great. Safe. Free.</span></h2></div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-globe"></i> Different Tours</h3>
            <p>Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-taxi"></i> Taxi Service</h3>
            <p>Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-glass"></i> Bar Included</h3>
            <p>Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-life-ring"></i> Discount System</h3>
            <p>Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-leaf"></i> Professional Staff</h3>
            <p>Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-eye"></i> Parking 24/7</h3>
            <p>Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- /enjoy our services -->
    <!-- testiomonials -->
    <section class="testimonials">
      <div class="container">
        <div class="title-main"><h2 class="h2">Some Testimonails<span class="title-secondary">People Says About Us</span></h2></div>
        <div class="owl-carousel">
          <div class="item">
            <div class="testimonials-block_i">
              <div class="testimonials-block_t">Great <span>Service</span></div>
              <p>Old unsatiable our now but considered travelling impression. In excuse hardly summer in basket misery. By rent an part need. At wrong of of water those linen. Needed oppose seemed how all</p>
            </div>
            <div class="testimonials-block_user">
                <div class="user_img"><img src="/static/bootstrap/images/testimonials/mike.jpg" alt=""></div>
                <div class="user_n">Garry Carlson</div>
            </div>
          </div>
          <div class="item">
            <div class="testimonials-block_i">
              <div class="testimonials-block_t">Thank You Very Much <span>I Am Happy!</span></div>
              <p>Certainty listening no no behaviour existence assurance situation is. Because add why not esteems amiable him. Interested the unaffected mrs law friendship add principles.</p>
            </div>
            <div class="testimonials-block_user">
                <div class="user_img"><img src="/static/bootstrap/images/testimonials/mila.png" alt=""></div>
                <div class="user_n">Mila Markovna</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /testiomonials -->
{% endblock %}

{% block script %}

    var originalHTML;
     $(window).on('load', function () {
      originalHTML = document.getElementById("planner").innerHTML;
 });

    function modeChange(sobj){
    var idx = sobj.selectedIndex;
     if (idx == 1){
        var str = "<form class='form-planner form-horizontal' id='SearchByName' action='{% url 'Tutorial:search_tutor_name' user.id %}' method='get'>{% csrf_token %}<div class='row' ><div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '><div class='form-group'><label>Given Name</label> <input type='text' class='form-control' placeholder='Given name' name='givenName'></div></div><div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'><div class='form-group'><label>Family Name</label><input class='form-control' id='FamilyName' type='text' placeholder='Family name' name='familyName'></div></div></div><div class='row'><div class='col-lg-12 col-md-12 col-sm-12'><div class='planner-check-availability'><input type='submit' class='btn btn-default'>Check availability</input></div></div></div></form>";        document.getElementById("planner").innerHTML =  str;
    }else{
        document.getElementById("planner").innerHTML =  originalHTML;
    }

    }

    $(document).ready(function(){
        var tags = new Array(10);
        i = 0;
        var strTags="";
        $("#subjectTags").keypress(function (e) {

            if (e.which == 13) {
                e.preventDefault();
                alert(strTags);
                tags[i] = $("#subjectTags").val();
                strTags = "<span style='background-color: #1f7e9a; color : white; margin : 1px; padding: 1px;'>X "+tags[i]+"</span>";
                alert(strTags);
                $("#tags").append(strTags);
                 $("#subjectTags").val() = "";
                $("#subjectTags").html()= "<input type='text' class='form-control' placeholder='Enter the key words to seach tags' id='subjectTags'name='tags' value='"+tags+"' >";
            }

        });

    });

{% endblock %}

