{% extends "Menu.html" %}
{% block title %}: tutor page{% endblock %}
{% block content %}

     {% if fail %}
        <script>alert("{{ fail }}");</script>
    {% endif %}
    {% if success %}
        <script>alert("Booking success!");</script>
    {% endif %}
    <div class="tutorInfo">
        <p>Tutor Name : {{ tutor.myuser.user.username }}</p >
        <p>Hourly Rate : {{ tutor.hourly_rate }}</p >
        <h4>Timeslots : <h4>
            <div id="timeSlots"></div>
            <script>
        var list = "{{ tutor.timeslot}}";
        var d= "<form action=\"{% url 'Tutorial:timeslot' user.id tutor.id  %}\" method=\"post\" name=\"frm\">{% csrf_token %}<table width=\"100%\" style=\"border: 1px solid grey ; \"><tbody>";
        var date = new Date();
        var week = date.getDay();

        var year = date.getYear();
        var month = date.getMonth();
        var strDate = date.getDate();
        month ++;
        if (month == 13){
            month = 12;
        }
        for (var i =0;i < 8;i++){
            d += "<tr class=\"titleTime\">";
            if(i == 0){
                 d+= "<td rowspan=\"1\" class=\"hour_\" height=\"10%\" width=\"4%\"  style=\"background-color : #191970 ; color : white;margin : 1px;\">Date/Time</td>";
                for (var j = 0;j<24;j++){
                if (j <= 9){
                        j = "0" + j;
                    }
                d+= "<td rowspan=\"1\" class=\"hour_\"+i height=\"10%\" width=\"4%\" style=\"background-color : #191970 ; color : white;margin : 1px;\">"+j+":00</td>";
                }
            }else{
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                d+= "<td rowspan=\"1\" class=\"hour_\"+i height=\"10%\" width=\"4%\" style=\"background-color : #191970 ; color : white;margin : 1px;\">"+month + " - " +strDate+"</td>";
                for (var j = 0;j<24;j++){
                    if (list[j + 24*(i + week -1 -3)] == 1)
                       { d+= "<td rowspan=\"1\" id=\""+year+month+strDate+"_"+j+"\" height=\"10%\" width=\"4%\" style=\"background-color : #B0C4DE ; color : white;margin : 1px;\" onclick=\"select(this)\"></td>";}
                    else
                        {d+= "<td rowspan=\"1\" id=\""+year+month+strDate+"_"+j+"\" height=\"10%\" width=\"4%\" style=\"background-color : grey ; color : white;margin : 1px;\" ></td>";}
                }
                date.setTime(date.getTime()+24*60*60*1000);
                month = date.getMonth() + 1;
                strDate = date.getDate();
            }
            d += "</tr>";
        }
        d += "</tbody></table></form>";
        document.getElementById('timeSlots').innerHTML= d;

        function select(elem){

       var slot = elem.getAttribute('id');
       var showStr = "Create a new booking : \r Name : ";
        showStr += "\r Time : ";
        showStr += slot.substring(3,5) + "-" + slot.substring(5,7) +" , "+ slot.substring(8,10) + ":00";
        var value = "20"+ slot.substring(1,3) + slot.substring(3,5) + slot.substring(5,7) + slot.substring(8,10) + "00";
        if (value.length < 12){
            value = "20"+ slot.substring(1,3) + slot.substring(3,5) + slot.substring(5,7) + "0"+slot.substring(8,10) + "00";
        }
        if (confirm(showStr)){
            elem.innerHTML ="<input type=\"hidden\" name='starttime' value= \""+value+"\" id=\"good\">"
            document.frm.submit();

       }

    }
            </script>

{% endblock %}