{% extends "Menu.html" %}
{% block title %}: tutor page{% endblock %}
{% block script %}
    function timeSlots(){
        var d= "<form action=\"{% url 'Tutorial:timeslot' tutor.id student.id %}\" method=\"post\" name=\"frm\">{% csrf_token %}<table width=\"100%\" style=\"border: 1px solid grey ; \"><tbody>";
        var date = new Date();
        var month = date.getMonth();
        var strDate = date.getDate();
        month ++;
        if (month == 13){
            month = 12;
        }
        for (var i =0;i < 8;i++){
            d += "<tr class=\"titleTime\">";
            if(i == 0){
                 d+= "<td rowspan=\"1\" class=\"hour_\" height=\"10%\" width=\"4%\"  style=\"background-color : #191970 ; color : white;margin : 1px;\">Date/Time</td>";
                for (var j = 0;j<24;j++){
                         d+= "<td rowspan=\"1\" class=\"hour_\"+i height=\"10%\" width=\"4%\" style=\"background-color : #191970 ; color : white;margin : 1px;\">"+j+"</td>";
                }
            }else{
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                d+= "<td rowspan=\"1\" class=\"hour_\"+i height=\"10%\" width=\"4%\" style=\"background-color : #191970 ; color : white;margin : 1px;\">"+month + " - " +strDate+"</td>";
                for (var j = 0;j<24;j++){
                    if (j < 9){
                        j = "0" + j;
                    }
                    d+= "<td rowspan=\"1\" id=\""+month+strDate+"_"+j+"\" height=\"10%\" width=\"4%\" style=\"background-color : #B0C4DE ; color : white;margin : 1px;\" onclick=\"select(this)\"></td>";
                }
                date.setTime(date.getTime()+24*60*60*1000);
                strDate = date.getDate();
            }
            d += "</tr>";
        }
        d += "</tbody></table></form>";
        document.getElementById('timeSlots').innerHTML= d;
    }

    function select(elem){
       var slot = elem.getAttribute('id');
       var showStr = "Create a new booking : \r Name : ";
       //showStr += {{ tutor.user.name }};
        showStr += "\r Time : ";
        slot = slot.substring(0,2) + "-" + slot.substring(2,4) +" , "+ slot.substring(5,7) + ":00";
        showStr += slot;
        if (confirm(showStr)){
            elem.innerHTML ="<input type=\"hidden\" name='starttime' value= \"201701010101\" id=\"good\">"
            document.frm.submit();

       }

    }

    function post(elem) {
        var temp = document.createElement("form");
        temp.action = "{% url 'Tutorial:timeslot' 1 1 %}" ;
        temp.method = "post";
        temp.value = elem.getAttribute('id');
        temp.name = "starttime";
        document.body.appendChild(temp);
        temp.submit();
    }
{% endblock %}
{% block content %}
    <div class="tutorInfo">
        <p>{{ tutor.user.name }}</p >
        <h4>Timeslots : <h4>
            <div id="timeSlots"><button type="button" onclick="timeSlots()">click to check timeslot</button></div>

    </div>
{% endblock %}