{% extends "Menu.html" %}
{% block title %}: my account{% endblock %}
{% block script %}
    function bookInfo(){
    var d= "<p>aaaaaaaaaaaaaaa</p >";
    document.getElementById('content').innerHTML= "<p>book info</p >";
    }
{% endblock %}
{% block content %}
    <div class="navi" style="float: left; background-color : grey; ">
        <div id="booking"><a href="{% url 'Tutorial:mybooking' 3 %}">MY BOOKING</a></div>
        <div class="profile"><a href="{% url 'Tutorial:myprofile' 1 %}">MY PROFILE</a></div>
        <div class="wallet"><a href="{% url 'Tutorial:mywallet' 1 %}">MY WALLET</a></div>
        <div class="logout">LOGOUT</div>
    </div>

    <div id="content">
        {{user.id}} {{user.name}}
    </div>
{% endblock %}
{% block right %}{% endblock %}