{% extends "Menu.html" %}
{% block title %}: my account{% endblock %}
{% block script %}
    function bookInfo(){
    var d= "<p>aaaaaaaaaaaaaaa</p >";
    document.getElementById('content').innerHTML= "<p>book info</p >";
    }
{% endblock %}
{% block content %}
    <div class="navi" style="float: left; background-color : grey; ">
        <div id="booking" onclick="bookInfo()">MY BOOKING</div>
        <div class="profile">MY PROFILE</div>
        <div class="wallet">MY WALLET</div>
        <div class="logout">LOGOUT</div>
    </div>

    <div id="content">
    </div>
{% endblock %}