{% extends "Menu.html" %}
{% block title %}: my account{% endblock %}
{% block content %}
    <!-- breadcrumbs -->
    <section class="breadcrumbs" style="background-image: url(/static/bootstrap/images/breadcrumbs/best-room.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="h1">My Account</h1>
          </div>

        </div>
      </div>
    </section>


    <div class="container">
     <div class="best-tutor-carousel">
          <ul class="row best-tutor_ul">
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12 best-tutor_li">
              <div class="best-tutor-info">
                <div class="best-tutor_t"><a href="{% url 'Tutorial:mybooking' user.id %}">MY BOOKING</a></div>
                </div>
            </li>
               <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12 best-tutor_li">
              <div class="best-tutor-info">
                <div class="best-tutor_t"><a href="{% url 'Tutorial:myprofile' user.id %}">MY PROFILE</a></div>
                </div>
            </li>
               <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12 best-tutor_li">
              <div class="best-tutor-info">
                <div class="best-tutor_t"><a href="{% url 'Tutorial:mywallet' user.id %}">MY WALLET</a></div>
                </div>
          </ul>
        </div>
    </div>
    <!-- /choose best rooms -->
{% block right %}{% endblock%}
{% endblock %}
