{% extends "myaccount/myaccount.html" %}
{% block title %}: my booking{% endblock %}
{% block script%}
    function cancelSession(elem, id, name, time){
        var t = time.substring(0,4) + "-" + time.substring(4,6) + "-" + time.substring(6,8) + " " + time.substring(8,10) + ":" +time.substring(10,12);
        //alert("shit")
        var frm = "frm"+id
        if(confirm("Cancel information:\rTutor Name: "+name+"\rTime: "+t)){
         elem.innerHTML ="<input type=\"hidden\"  name=\"hidden\" value=" +id+ ">";
        document.getElementById(frm).submit();
        alert ("Successful cancelling!");
    }

    }
{% endblock %}
{% block right %}
<div id="content" style="width: 70%; float : right;">
<table style="margin-top: 15px;">
            <tr class="title" style="width:100%; background-color: #005B98; color: white; font-size: 16pt;">
                <th>Time</th>
                <th>Tutor</th>
                <th>Rate</th>
                <th>Status</th>
                <th>Cancel / Evaluate</th>
            </tr>


            {% for session in  session_list %}

    <tr style="background-color: #9f9f9f; font-size: 14pt; text-align: center;" id="{{session.id}}">
                    <td >{{ session.starttime }}</td>
                <td>{{ session.tutor }}</td>
                <td>{{ session.tutor.hourly_rate }}</td>

                <script>

                      if ("{{ session.status }}" == '0' || "{{ session.status }}" == '1')
                    {
                       document.write("<td>Upcoming</td>");
                    }else if("{{ session.status }}" == '2'){
                          document.write("<td>Attended</td>");
                      }else if("{{ session.status }}" == '3'){
                          document.write("<td>Canceled</td>");
                      }else if("{{ session.status }}" == '4'){
                          document.write("<td>Evaluated</td>");
                      }
                    </script>
                <script>

                    if ("{{ session.status }}" == '0')
                    {

                        var session_id = "{{session.id}}";
                        var name = "{{session.tutor}}";
                        var time = "{{session.starttime}}";
                        document.write(" <form action=\"{% url 'Tutorial:cancelbooking' user.id session.id %}\" method=\"post\" id= \"frm"+session_id+"\" >{% csrf_token %}{{uf.as_p}}<td id=\'clickable\' onclick=\'cancelSession(this,"+session_id+", \"{{session.tutor}}\", \"{{session.starttime}}\")\' style='color: red;'>X</td></form>");

                    }else{
                        document.write("<td id=\'cannotClick\'>X</td>");
                    }
                </script>
                </tr>


            {% endfor %}

         </table>
{% endblock %}