{% extends "myaccount/myaccount.html" %}
{% block title %}: my booking{% endblock %}
{% block script%}
    function cancelSession(elem, id, name, time){
        var t = time.substring(0,4) + "-" + time.substring(4,6) + "-" + time.substring(6,8) + " " + time.substring(8,10) + ":" +time.substring(10,12);
        var frm = "frm"+id
        if(confirm("Cancel information:\rTutor Name: "+name+"\rTime: "+t)){
         elem.innerHTML ="<input type=\"hidden\"  name=\"hidden\" value=" +id+ ">";
        document.getElementById(frm).submit();
        alert ("Successful cancelling!");
    }

    }
{% endblock %}
{% block right %}
<div id="content">
    {% if isstudent != "" %} <!--should judge using isstudent instead of booklist non empty-->
    <section class="section">
      <div class="container">
        <div class="title-main"><h2 class="h2">Booking Record[student]<span class="title-secondary">啦啦啦啦啦啦啦啦啦啦啦╭(╯^╰)╮</span></h2></div>
         <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-globe"></i> Time</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-taxi"></i> Tutor</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-glass"></i> Rate</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-life-ring"></i>Status </h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"></i> Canceled</h3>
          </div>
        </div>
          {% if session_list != "" %}
          {% for session in  session_list %}
               <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <h3 class="service_title">{{ session.starttime }}</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"> {{ session.tutor }}</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"> ${{ session.tutor.hourly_rate }}</h3>
          </div>
                    <script>

                     if ("{{ session.status }}" == '0')
                    {
                       document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Upcoming</h3>" +
                           "          </div>");
                    }else if("{{ session.status }}" == '1'){
                           document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Can't Cancel</h3>" +
                           "          </div>");
                      }else if("{{ session.status }}" == '2'){
                          document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Attended</h3>" +
                           "          </div>");
                      }else if("{{ session.status }}" == '3'){
                          document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Canceled</h3>" +
                           "          </div>");
                      }else if("{{ session.status }}" == '4'){
                          document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Envaluated</h3>" +
                           "          </div>");
                      }else if("{{ session.status }}" == '5'){
                          document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">In progress</h3>" +
                           "          </div>");
                      }
                    </script>
                <script>
                    var date1 = new Date();
                    var time = "{{session.starttime}}"
                    var date2 = new Date(time.substring(0,4)+"/" + time.substring(4,6)+"/" +time.substring(6,8)+" "+time.substring(8,10)+":"+time.substring(10,12)+":"+"00");
                    var gap = Math.abs(date1-date2)/1000/60/60;
                    //alert(gap);
                    if ("{{ session.status }}" == '0' && gap >= 24 )
                    {

                        var session_id = "{{session.id}}";
                        document.write(" <form action=\"{% url 'Tutorial:cancelbooking' user.id session.id %}\" method=\"post\" id= \"frm"+session_id+"\" >{% csrf_token %}{{uf.as_p}}<div id=\'clickable\' onclick=\'cancelSession(this,"+session_id+", \"{{session.tutor}}\", \"{{session.starttime}}\")\' style='color: red;' class=\"col-lg-2 col-md-4 col-sm-6\"><h3 class=\"service_title\">X</h3></div></form>");

                    }else{
                        document.write("<div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                            "            <h3 class=\"service_title\">X</h3>" +
                            "          </div>");
                    }
                </script>
        </div>
          {% endfor %}
          {% endif %}
      </div>
    </section>
    {% endif %}
    {% if istutor != "" %}
    <section class="section">
      <div class="container">
        <div class="title-main"><h2 class="h2">Booking Record[tutor]<span class="title-secondary">啦啦啦啦啦啦啦啦啦啦啦╭(╯^╰)╮</span></h2></div>

        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-globe"></i> Time</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-taxi"></i> Tutor</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-glass"></i> Rate</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-life-ring"></i>Status </h3>
          </div>
        </div>
          {% if booked_list != "" %}
          {% for session in  booked_list %}
               <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <h3 class="service_title">{{ session.starttime }}</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"> {{ session.tutor }}</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"> ${{ session.tutor.hourly_rate }}</h3>
          </div>
                    <script>

                      if ("{{ session.status }}" == '0')
                    {
                       document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Upcoming</h3>" +
                           "          </div>");
                    }else if("{{ session.status }}" == '1'){
                           document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Can't Cancel</h3>" +
                           "          </div>");
                      }else if("{{ session.status }}" == '2'){
                          document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Attended</h3>" +
                           "          </div>");
                      }else if("{{ session.status }}" == '3'){
                          document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Canceled</h3>" +
                           "          </div>");
                      }else if("{{ session.status }}" == '4'){
                          document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Envaluated</h3>" +
                           "          </div>");
                      }else if("{{ session.status }}" == '5'){
                          document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">In progress</h3>" +
                           "          </div>");
                      }
                    </script>
                <script>
                    var date1 = new Date();
                    var time = "{{session.starttime}}"
                    var date2 = new Date(time.substring(0,4)+"/" + time.substring(4,6)+"/" +time.substring(6,8)+" "+time.substring(8,10)+":"+time.substring(10,12)+":"+"00");
                    var gap = Math.abs(date1-date2)/1000/60/60;
                    //alert(gap);
                    /*if ("{{ session.status }}" == '0' && gap >= 24 )
                    {

                        var session_id = "{{session.id}}";
                        document.write(" <form action=\"{% url 'Tutorial:cancelbooking' user.id session.id %}\" method=\"post\" id= \"frm"+session_id+"\" >{% csrf_token %}{{uf.as_p}}<div id=\'clickable\' onclick=\'cancelSession(this,"+session_id+", \"{{session.tutor}}\", \"{{session.starttime}}\")\' style='color: red;' class=\"col-lg-2 col-md-4 col-sm-6\"><h3 class=\"service_title\">X</h3></div></form>");

                    }else{
                        document.write("<div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                            "            <h3 class=\"service_title\">X</h3>" +
                            "          </div>");
                    }*/
                </script>
        </div>
          {% endfor %}
          {% endif %}
      </div>
    </section>
    {% endif %}
{% endblock %}