{% extends "myaccount/myaccount.html" %}
{% block title %}: my profile{% endblock %}
{% block right %}
{% if not edit %}
    <div class = "infoPanel">
         {% if tutor %}
             <form method="GET" action="{% url 'Tutorial:myprofile' user.id %}" class="" />
            {% if profileActivated %}
                <input type="hidden" name="edit" value="0" />
                <input type="hidden" name="show_or_not" value="0" />
                <input type="submit" value="Deactivate" class="btn btn-default" style="float: right;"/>
            {% else %}
                <input type="hidden" name="edit" value="0" />
                <input type="hidden" name="show_or_not" value="1" />
                <input type="submit" value="Activate" class="btn btn-default" style="float: right;" />
            {% endif %}
            </form>
         {% endif %}
        <form method="GET" action="{% url 'Tutorial:myprofile' user.id %}" class="" />
            <input type="hidden" name="edit" value="1" />
            <button type="submit" class="btn btn-default" style="float: right; margin-right: 10px;">Edit</button>
        </form>

        <div class="insideInfo insideImg" style="float: left; margin-right: 20px; margin-bottom: 10px;">
                 <img src="{{ user.image.url }}" >
        </div>
        <label id="tags" style="font-size: 20pt; color: #2F4F4F;">Basic Information</label>

        <div class="insideInfo">Username : <span class="spanType">{{user.user.username}}</span></div>
        <div class="insideInfo">First name: <span class="spanType">{{user.user.first_name}}</span></div>
        <div class="insideInfo">Last name: <span class="spanType">{{user.user.last_name}}</span></div>
        <div class="insideInfo">Phone Number: <span class="spanType">{{user.phone}}</span></div>
        <div class="insideInfo">Email: <span class="spanType">{{user.user.email}}</span></div>
        <div class="insideInfo">About Me: <span class="spanType">{{user.profile_content}}</span></div>
         {% if privateTutor %}
         <div class="insideInfo">Hourly Price: <span class="spanType">{{hourly_rate}}</span></div>
         {% endif %}

        <div class="insideInfo">Tags:
         <span class="spanType">{% for tag in tags %} {{tag}}, {% endfor %}</span>
        </div>

    </div>
    <form method="POST" action="{% url 'Tutorial:myprofile' user.id %}" class="" />
        <input type="hidden" name="changePassWord" value="1" />
        <input type="hidden" name="newForm" value="1" />
        <input type="hidden" name="edit" value="1" />
        <button type="submit" class="btn btn-default" style="float: left; margin-right: 10px;">Change Password</button>
    </form>
{% elif resetPassword %}
    <form method="POST" action="{% url 'Tutorial:myprofile' user.id %}" class="" />
        <input type="hidden" name="edit" value="1" />
        <input type="hidden" name="changePassWord" value="1" />
        {{form.as_p}}
        <input type="submit" value="Submit" />
    </form>
    <form method="GET" action="{% url 'Tutorial:myprofile' user.id %}" class="" />
        <input type="hidden" name="edit" value="0" />
        <button type="submit">Cancel</button>
    </form>
{% else %}
     <div class = "infoPanel">
        <form method="POST" action="{% url 'Tutorial:myprofile' user.id %}" enctype='multipart/form-data' class="" />
            {{form.as_p}}
         <p style="font-weight:900;">Tags: <input type="text" id="subjectTags" placeholder="Press enter to add tags.">
             <span id="tags">
                 {% for tag in tags %}
                 <script>
                 var Tag = "{{tag}}"
                 document.write("<span style='background-color: #9CCC65; color : black; margin : 2px; margin-left: 0; padding: 2px; ' id="+Tag+" ><span style='background-color: #9CCC65; color : darkred; padding : 2px; border:1px;margin-right : 0;' id=\"deleteTags\">X</span>{{tag}}</span>");
                  </script>
                 {% endfor %}
         </p>
            <input type="submit" value="Save" class = "btn btn-default" style="float : right; margin : 10px;"/>
        </form>
        <form method="GET" action="{% url 'Tutorial:myprofile' user.id %}" class="" />
            <input type="hidden" name="edit" value="0" />
            <button type="submit" class="btn btn-default" style="float : right; margin : 10px;">Cancel</button>
        </form>
     </div>


{% endif %}
{% endblock %}

{% block script%}
         $(document).ready(function(){
             var tags = new Array(10);
             i = 0;
             var strTags="";
            $("#subjectTags").keypress(function (e) {
                var repeat = false;
                if (e.which == 13) {
                    e.preventDefault();
                    tags[i] = $("#subjectTags").val();
                    if (tags[i] == ""){
                        alert("Tag cannot be empty!");
                        repeat = true;
                    }
                    var j = 0;
                    for (j = 0;j < i;j++){
                        if(tags[j] == tags[i]){
                            alert("Tag " +tags[i]+" already exists!");
                            repeat = true;
                             $("#subjectTags").val("");
                            break;
                        }
                    }
                    if (repeat == false){
                        strTags = "<span style='background-color: #9CCC65; color : black; margin : 2px; margin-left: 0; padding: 2px; ' id='"+tags[i]+"'><span style='background-color: #9CCC65; color : darkred; padding : 2px; border:1px;'  id='deleteTags' target = '"+i+"'>X</span>";
                         strTags += ""+tags[i]+"</span>";
                        $("#tags").append(strTags);
                         $("#subjectTags").val("");
                         $("#subjectTags").html( "<input type='text' class='form-control' placeholder='Press enter to add tags.' id='subjectTags'name='tags' value='"+tags+"' >");
                        i++;
                     }

                }
            });// End of press enter

            var deleteTags = "";

             $(document).on('click', '#deleteTags', function(){
                var pare = $(this).parent();
                var tagContent = pare.attr('id');
                deleteTags += tagContent + ",";
                $("#subjectTags").html( "<input type='text' class='form-control' placeholder='Press enter to add tags.' id='subjectTags'name='tags' value='"+tags+"'><input type=\"hidden\" name='deleteTags' value='"+deleteTags+"'>");
                $(this).parent().remove();


            });
    });// End of document

    {% endblock %}
