{% extends "myaccount/myaccount.html" %}
{% block title %}: my profile{% endblock %}
{% block right %}
{% if not edit %}
    <div class = "infoPanel">
        <div class="best-tutor_img" style="float : left; width : 200px; height: 200px; border-radius: 200px;">
             <img src="/static/bootstrap/images/best-rooms/1.jpg">
             <div class="best-tutor_overlay">
                 <div class="overlay_icn"><a href=""></a></div>
              </div>
        </div>
         <div class="insideInfo">Username : {{user.user.username}}</div>
         <div class="insideInfo">First name: {{user.user.first_name}}</div>
         <div class="insideInfo">Last name: {{user.user.last_name}}</div>
         <div class="insideInfo">Phone Number: {{user.phone}}</div>
         <div class="insideInfo">Email: {{user.user.email}}</div>
         <div class="insideInfo">About Me: {{user.profile_content}}</div>
    </div>
    <form method="GET" action="{% url 'Tutorial:myprofile' user.id %}" class="" />
        <input type="hidden" name="edit" value="1" />
        <button type="submit">Edit</button>
    <form>
{% else %}
<form method="POST" action="{% url 'Tutorial:myprofile' user.id %}" class="" />
    {{form.as_p}}
    <input type="submit" value="Save" />
</form>
<form method="GET" action="{% url 'Tutorial:myprofile' user.id %}" class="" />
    <input type="hidden" name="edit" value="0" />
    <button type="submit">Cancel</button>
<form>
{% endif %}
{% endblock %}