{% extends "myaccount/myaccount.html" %}
{% block title %}: my wallet{% endblock %}
{% block right %}


    <section class="section">
	</form>
      <div class="container">
        <div class="title-main"><h2 class="h2">Transaction records<!--span class="title-secondary">啦啦啦啦啦啦啦啦啦啦啦╭(╯^╰)╮</span--></h2></div>

        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-calendar"></i> Transaction Time</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-money"></i> Cashflow</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-life-ring"></i> Issue</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-user-circle"></i> With/By</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-bar-chart"></i> Information</h3>
          </div>
        </div>
          {% for session in  list %}
               <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <h3 class="service_title">{{ session.time }}</h3>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <h3 class="service_title"> ${{ session.cashflow }}</h3>
          </div>

                    <script>

                      if ("{{ session.type }}" == '0')
                    {
                       document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Deposit</h3>" +
                           "          </div>" + " <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">N/A</h3>" +
                           "          </div>" + " <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">N/A</h3>" +
                           "          </div>");
                    }else if("{{ session.type }}" == '1'){
                          document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Withdraw</h3>" +
                           "          </div>" + " <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">N/A</h3>" +
                           "          </div>" + " <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">N/A</h3>" +
                           "          </div>");
                      }else if("{{ session.type }}" == '2'){
                          document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Cancel book</h3>" +
                           "          </div>" + " <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">tutor: {{session.information.tutor.myuser.user.username}}</h3>" +
                           "          </div>" + " <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">on {{session.information.starttime}}</h3>" +
                           "          </div>");
                      }else if("{{ session.type }}" == '3'){
                          document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Booking</h3>" +
                           "          </div>" + " <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">tutor: {{session.information.tutor.myuser.user.username}}</h3>" +
                           "          </div>" + " <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">on {{session.information.starttime}}</h3>" +
                           "          </div>");
                      }else if("{{ session.type }}" == '4'){
                          document.write(" <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">Booked</h3>" +
                           "          </div>" + " <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">student: {{session.information.student.myuser.user.username}}</h3>" +
                           "          </div>" + " <div class=\"col-lg-2 col-md-4 col-sm-6\">" +
                           "            <h3 class=\"service_title\">tutorial start from {{session.information.starttime}}</h3>" +
                           "          </div>");
                      }
                    </script>

        </div>
          {% endfor %}
      </div>
    </section>

{% endblock %}